<ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button
                    [text]="buttonText"
                    [icon]="buttonIcon"
                   (click)="back"
                    >
                    
                </ion-back-button>
              </ion-buttons>
            <ion-buttons text-center class="hi" >
                <img class="hi"   alt="logo" height="40" src="assets/smarsys.png">
              </ion-buttons>
      
              <!-- <div text-center >
      
              </div> -->
              <!-- <ion-segment [(ngModel)]="orders" color="qx3">
                  <ion-segment-button value="activities"  (click)="get_local_trips()">
                    DASHBOARD
                  </ion-segment-button>
                  <ion-segment-button value="Finance" (click)="get_latest_pnl()">
                  FINANCE
                  </ion-segment-button>   
                  <ion-segment-button value="Mileages" (click)="GET_mileage()" >
                    PERFOMANCE
                  </ion-segment-button>                
                </ion-segment> -->
            
      
                <ion-segment [(ngModel)]="orders" color="qx3">
                    <ion-segment-button value="activities"  (click)="get_local_trips()">
                      DASHBOARD
                    </ion-segment-button>
                    <!-- <ion-segment-button value="Finance" (click)="get_latest_pnl()">
                    FINANCE
                    </ion-segment-button>   
                    <ion-segment-button value="Mileages" (click)="GET_mileage()" >
                      PERFOMANCE
                    </ion-segment-button>                 -->
                  </ion-segment>
        </ion-toolbar>
      
        
      
      </ion-header>
      
      <ion-content>
          <!-- <div [ngSwitch]="orders" class="action-sheets-basic-page" >
              <div *ngSwitchCase="'activities'" style="text-align: center ">  
                  <div text-center  style="width:100%;margin-top: 7px;" *ngFor="let names of ThisMessage">     
                      <span  style=" border-radius: 5px;font-size:12px;background-color: #222;color: white;padding-left: 7px;padding-right: 7px">{{names}}  </span>
                    </div>
      
                                         
                    <ion-list *ngFor="let item of items" (click)="itemTapped($event, item)">                  
                        <ion-card class="showow" style="margin-bottom: 30px;background-color: #F6F6F6"   >
                            <ion-grid  >  
                                <ion-row align-items-start align-items: flex-start style="padding-left: 10px;padding-right: 10px ;" > 
                                      <ion-col col-auto align-items-start class="box" align-self: flex-start style="border-bottom-style:outset;background-color:#f6861f;height: px;border-bottom-left-radius: 5px;border-top-left-radius: 5px">
                                          <img style="height: 17px;width: 40px;margin-top:1px" src = {{item.Path}}>      
                                      </ion-col>
                                      <ion-col align-self: flex-start class="box" style="border-bottom-style:outset;text-align: center;color:white;background-color:#f6861f;height: 30px" >             
                                         <h2 style="color:white;"> {{item.title}} </h2>                                       
                                      </ion-col>
                                      <ion-col col-2 align-self-start class="box" style="border-bottom-style:outset;background-color:#f6861f;height: 30px;;border-bottom-right-radius: 5px;border-top-right-radius: 5px" >                    
                                          <img style="height: 11px;width: 11px;" src = {{item.Path2}}>                          
                                      </ion-col> 
                                </ion-row>
      
                                <ion-row align-items-start align-items-start align-items: flex-start>
                                    <ion-col text-wrap style="text-align:left" >   
                                        <p ion-text color="white">{{item.status}} {{item.note}} </p>
                                        <div style="float: right;">
                                           <ion-badge style="background-color:#F6F6F6 ;color: red"> {{item.alert}} </ion-badge>                               
                                        </div>                                                                                                                           
                                    </ion-col>
      
                                </ion-row>
      
                            </ion-grid>
                         </ion-card>
      
                         
                </ion-list>
         
      
                </div>
      
                 <div *ngSwitchCase="'Finance'">
      
      
                    <div *ngIf="pointerVisible2" padding text-center  >
                        <ion-row justify-content-center align-items-center style="height: 80%">
                        <p align="center"><img class="logo" src="assets/smart_smal.png"  /></p>
                        </ion-row>
                        <div class="spacer" style="height: 2px"></div>                     
                        <p align="center">NO FINANCIAL DATA YET</p>
      
                        <ion-button color="medium" shape="round" (click)="Addnew_fin()"  >
                            <ion-icon name="add"  ></ion-icon>
                        </ion-button>
                        
                    
      
                 </div>
      
                 <ion-list>     
                    <div text-wrap  text-center style="border-style: outset;margin-left:10px;margin-right:10px;" *ngFor="let item of Msg_date" >         
                        <p align="center">
                            <ion-button shape="round" style="height:25px" >
                              
                                {{item.date}}
                            
                            </ion-button>
                            <ion-item no-lines *ngFor="let names of ThisMessage2" style="text-align:center;color:red">
                                {{names}}                        
                             </ion-item>   
      
                             <ion-fab top right edge (click)="Addnew_fin()" style="margin-top:30px"  >  
                                <ion-button shape="round">
                                    <ion-icon name="add"  ></ion-icon> 
                                </ion-button>
                             </ion-fab>
      
                        </p>
                    
                    </div>
      
                    <div class="spacer" style="height:1px"></div> 
                    <div text-wrap text-center style="border-style:none"> 
                        <ion-list >
                            <ion-button shape="round"  *ngFor="let item of items_pnl"  >
      
                                <div class="item item-thumbnail-left" style="border-top-style: outset;border-left-style: outset">
      
                                    <ion-button shape="round">
                                        <img src = {{item.path}} style="height:10px">
                                        {{item.title}}
                                        <ion-badge  style="background-color:#f6861f; float: right;margin-top: 5px"> Ksh. {{item.bal}} /= </ion-badge>                        
                                    </ion-button>
      
                                    <p> {{item.income}} </p> 
                                    <p> {{item.expenses}}  </p> 
      
                                </div>
                               
                              
                            </ion-button>
      
      
                          </ion-list>  
                    </div>
      
      
      
                  </ion-list>
                  </div> -->
      
      
                  <!-- <div *ngSwitchCase="'Mileages'">
      
                      <div *ngIf="pointerVisible3" padding text-center  >
                          <ion-row justify-content-center align-items-center style="height: 80%">
                              <p align="center"><img class="logo" src="assets/smart_smal.png"  /></p>
                              </ion-row>
                              <div class="spacer" style="height: 2px"></div>                     
                              <p align="center">NO MILEAGE DATA YET</p>
      
                              <ion-button shape="round">
                                  <ion-icon name="add"  ></ion-icon>
                              </ion-button>
      
                      </div>
      
                  </div> -->
      
      
      
             <!-- </div> --> 
      
             <div [ngSwitch]="orders" class="action-sheets-basic-page" >
                  <div *ngSwitchCase="'activities'" style="text-align: center ">  
                      
                      <div text-center  style="width:100%;margin-top: 7px;" *ngFor="let names of ThisMessage">             
                          <span  style=" border-radius: 5px;font-size:12px;background-color: #222;color: white;padding-left: 7px;padding-right: 7px">{{names}}  </span> 
                      </div>
                                                
                                                             
                            <ion-list *ngFor="let item of items" (click)="itemTapped($event, item)">                  
                                    <ion-card class="showow" style="margin-bottom: 30px;background-color: #F6F6F6"   >
                                        <ion-grid  >  
                                            <ion-row align-items-start align-items: flex-start style="padding-left: 10px;padding-right: 10px ;" > 
                                                  <ion-col col-auto align-items-start class="box" align-self: flex-start style="border-bottom-style:outset;background-color:rgb(100,149,237);height: 70px;border-bottom-left-radius: 5px;border-top-left-radius: 5px">
                                                      <img style="height: 17px;width: 40px;margin-top:1px" src = {{item.Path}}>  
                                                          
                                                  </ion-col>
                                                  <ion-col align-self: flex-start class="box" style="border-bottom-style:outset;text-align: center;color:white;background-color:rgb(100,149,237);height: 70px" >             
                                                     <h2 style="color:white;"> {{item.title}} </h2>                                       
                                                  </ion-col>
                                                  <!-- #f6861f -->
                                                  <ion-col col-2 align-self-start class="box" style="border-bottom-style:outset;background-color:rgb(100,149,237);height: 70px;;border-bottom-right-radius: 5px;border-top-right-radius: 5px" >                    
                                                      <img style="height: 11px;width: 11px;" src = {{item.Path2}}>                          
                                                  </ion-col> 
                                            </ion-row>
            
                                            <ion-row align-items-start align-items-start align-items: flex-start>
                                                <ion-col text-wrap style="text-align:left" >   
                                                    <p ion-text color="white">{{item.status}} {{item.note}} </p>
                                                    <div style="float: right;">
                                                       <ion-badge style="background-color:#F6F6F6 ;color: red"> {{item.alert}} </ion-badge>                               
                                                    </div>                                                                                                                           
                                                </ion-col>
            
                                            </ion-row>
            
                                        </ion-grid>
                                     </ion-card>
            
                                     
                            </ion-list>
                     
                            
                  </div>
          
                 
                          
                </div>
      
      
      
      </ion-content>
      