

<ion-content class="bg">
  <!-- <ion-back-button end defaultHref="currdash"  ></ion-back-button> -->
  <ion-slides pager="true" [options]="slideOpts" class="ion" >

    <ion-slide class="step-one" >

        <ion-img src="/assets/trucking.svg"></ion-img>
        <h1 class="h" >Smart Logistics</h1>
        <p class="h" >Better Solutions to better Transport</p>

        <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
            <ion-fab-button (click)="this.Slides.slidePrev()" class="backBtn" >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-fab-button>
          
          </ion-fab>
         -->
    </ion-slide>



    <ion-slide class="step-two"  >
       
        <ion-img src="/assets/gasoline.svg"></ion-img>
        <h1 class="h" >Manage your fuel activities</h1>
        <p class="h" >Let's Manage and track your fuel activities</p>
       
        <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
            <ion-fab-button  (click)="this.Slides.slideNext()" class="nextBtn" >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-fab-button>
          
          </ion-fab>
         -->

    </ion-slide>


    <ion-slide class="step-three" >
     

           <ion-img src="/assets/appointment.svg"></ion-img>
           <h1 class="h">Track your Schedules with an app</h1>
           <p class="h" >Let's help you track your Vehicles Schedules</p>


    </ion-slide>


    <ion-slide class="step-four" >


        <ion-img src="/assets/1712201.png"></ion-img>
        <h1 class="h">Dispatch,Schedule and Mileage reports</h1>
        <p class="h" >Solutions with freedom built in it </p>

        
        <ion-button (click)="Login()">Let's Procceed</ion-button>
       
       
      </ion-slide>


  </ion-slides>
</ion-content>


