<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button
              [text]="buttonText"
              [icon]="buttonIcon"
              (click)=back
              >
              
          </ion-back-button>
        </ion-buttons>
    <ion-title>FuelDashboard</ion-title>
  </ion-toolbar>
  
</ion-header>


<ion-content padding class="menu-content myBg" class="bg">
    <div>
      <ion-grid>

          <ion-row>

         <ion-col col-md-4>
           
         <ion-card class="fixed" (click)="  navigate()" style="background-color:rgb(170, 194, 238)" >
          
            <img src="assets/gasoline (1).svg" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
           <h2 style="margin-top: 15px"class="h">Daily Fuel Entry</h2> 
       </ion-card>
      
       </ion-col>

            <ion-col col-md-4>
              
              <ion-card   class="fixed" (click)="perform()"  style="background-color:rgb(170, 194, 238)" >
             
              <img src="assets/1712225.png" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
             
              <h1 style="margin-top: 15px" class="h" >Fuel Reports</h1> 
                </ion-card>
            </ion-col>
          </ion-row>


        </ion-grid>

        <ion-grid>
            <ion-row>
        
              <ion-col col-md-1>
              
                <ion-card class="fixed" (click)=" report()"   style="background-color:rgb(170, 194, 238)" >
                 
                  <img src="assets/1722801.png" style="margin-top: 30px;height: 80px;width: 80px;align-self: center;justify-self: center">
            
                  <h1 style="margin-top: 15px" class="h">Mileages</h1> 
                 
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
    
    
        </div>


  </ion-content>
  